{{define "title"}} Home {{end}}

{{define "main"}}


<main class="lg:pl-20">
  <div class="xl:pl-96">

    {{template "navigation" .}}
    <div class="px-4 py-10 sm:px-6 lg:px-8 lg:py-6 h-screen flex justify-start ">
      <!-- Main area -->
      <form class="w-full max-w-4xl ">
        <div class="space-y-12  ">
          <h2 class="text-base font-semibold leading-7 text-gray-900">Personal Information</h2>

          <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">


            <div class="sm:col-span-full">
              <label for="country" class="block text-sm font-medium leading-6 text-gray-900">Email Type</label>
              <div class="mt-2">
                <select id="country" name="country" autocomplete="country-name"
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                  <option>Payroll</option>
                  <option>Newsletter</option>
                  <option>Notic</option>
                </select>
              </div>
            </div>



            <div class="sm:col-span-full">
              <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">Subject</label>
              <div class="mt-2">
                <input type="text" name="first-name" id="first-name" autocomplete="given-name"
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
              </div>
            </div>


            <!--  Payroll emails are just choose start date  -->





            <div class="sm:col-span-full">
              <label for="postal-code" class="block text-sm font-medium leading-6 text-gray-900">Message</label>
              <div class="mt-2">
                <input type="text" name="postal-code" id="postal-code" autocomplete="postal-code"
                  class="block w-full h-[40rem] rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  </form>
</main>

<div
  class="fixed inset-y-0 left-20 hidden w-96 overflow-y-auto border-r border-gray-200 px-4 py-6 sm:px-6 lg:px-8 xl:block">
  <!-- Secondary column (hidden on smaller screens) -->
  {{if .Contacts}}
  <fieldset>
    <legend class="text-base font-semibold leading-6 text-gray-900">Members</legend>
    <div class="mt-4 divide-y divide-gray-200 border-b border-t border-gray-200">
      {{range .Contacts}}
      <div class="relative flex items-start py-4">
        <div class="min-w-0 flex-1 text-sm leading-6">
          <label for="person-1" class="select-none font-medium text-gray-900">
            <a href="/contacts/{{.ID}}">
              {{.FirstName}}
              {{.LastName}}
            </a>

          </label>
          <p class="mt-1 flex text-xs leading-5 text-gray-500">
            {{.Email}}
          </p>
          <p class="mt-1 flex text-xs leading-5 text-gray-500">
            {{.Phone}}
          </p>
        </div>
        <div class="ml-3 flex h-6 items-center">
          <input id="person-1" name="person-{{.ID}}" type="checkbox"
            class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">

        </div>
      </div>
      {{end}}
    </div>

  </fieldset>

  {{else}}
  <p>Theres nothing here</p>
  {{end}}
</div>
{{end}}
